/* Styles for the header element */
header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  background-color: #f8f8f8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  transition: background-color 0.3s, color 0.3s;
  }
  
  /* Styles for the navbar and its unordered list */
  .navbar,
  .navbar ul {
  display: flex;
  }
  
  /* Styles for the navbar itself */
  .navbar {
  align-items: center;
  }
  
  /* Styles for the navbar unordered list */
  .navbar ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  }
  
  /* Styles for the navbar list items */
  .navbar li {
  margin-left: 1rem;
  }
  
  /* Styles for the navbar links */
  .navbar a {
  color: #333;
  text-decoration: none;
  font-weight: 600;
  transition: color 0.3s;
  }
  
  /* Styles for the navbar links when hovered over */
  .navbar a:hover {
  color: #a2c5e3;
  }
  
  /* Styles for the theme toggle button */
  .theme-toggle {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: transform .3s;
  }
  
  /* Styles for the theme toggle button icon */
  .theme-toggle i {
  font-size: 1.2rem;
  margin-left: .5rem;
  color: #333;
  transition: color 0.3s;
  }
  
  /* Styles for the button and section elements */
  .theme-toggle button,
  section {
  transition: background-color 0.3s, color 0.3s;
  }
  
  /* Styles for the theme toggle button icon and theme when in dark mode */
  .dark-theme .theme-toggle i,
  .theme-toggle.dark-theme {
  transform: rotate(180deg);
  }
  
  /* Styles for the sidebar */
  .sidebar {
  display: none;
  }
  
  /* Styles for the sidebar menu */
  .sidebar-menu {
  position: fixed;
  top: 0;
  left: -100%;
  height: 100%;
  width: 200px;
  background-color: #333;
  transition: left 0.3s;
  z-index: 999;
  }
  
  /* Styles for the sidebar menu unordered list */
  .sidebar-menu ul {
  margin: 0;
  padding: 1rem 0;
  }
  
  /* Styles for the sidebar menu list items */
  .sidebar-menu li {
  padding: 0.5rem 1rem;
  }
  
  /* Styles for the sidebar menu links */
  .sidebar-menu a {
  color: #f1f1f1;
  text-decoration: none;
  font-weight: 600;
  transition: color 0.3s;
  }
  
  /* Styles for the sidebar menu links when hovered over */
  .sidebar-menu a:hover {
  color: #fff;
  }
  
  /* Styles for the open sidebar */
  .sidebar.open {
  display: block;
  }
  
  /* Styles for the sidebar menu when open */
  .sidebar.open~.sidebar-menu {
  left: 0;
  }
  
  /* Media query for screen width less than or equal to 768px /
  @media screen and (max-width: 768px) {
  / Hide navbar /
  .navbar {
  display: none;
  }
  / Display sidebar and style cursor */
  .sidebar {
  display: flex;
  align-items: center;
  cursor: pointer;
  }
  
  /* Change header background color for dark-theme */
  .dark-theme header {
  background-color:#333;
  }
  
  /* Update color for dark-theme */
  .dark-theme .navbar a,
  .dark-theme .theme-toggle i {
  color: #f1f1f1;
  }
  
  /* Update color when hovered for dark-theme */
  .dark-theme .navbar a:hover {
  color: #c7c7c7;
  }
  
  /* Update background color for the sidebar menu when dark-theme is active */
  .dark-theme .sidebar-menu {
  background-color: #2c2c2c;
  }
  
  /* Update color for the sidebar menu links when dark-theme is active */
  .dark-theme .sidebar-menu a {
  color: #f1f1f1;
  }
  
  /* Update color when hovered for dark-theme sidebar menu links */
  .dark-theme .sidebar-menu a:hover {
  color: #fff;
  }
  