/* Light theme styles */
.light-theme {
  background-color: #fff;
  color: #333;
}

/* Dark theme styles */
.dark-theme {
  background-color: #444;
  color: #f1f1f1;
}

/* Set background color and text color for section elements in light theme */
.light-theme section {
  background-color: #f5f5f5;
  color: #333;
}

/* Set background color and text color for section elements in dark theme */
.dark-theme section {
  background-color: #444;
  color: #fff;
}

/* Global body styles */
body {
  font-size: 16px;
  transition: background-color .3s; /* Transition for smooth background-color changes */
  line-height: 1.6;
}

/* Add transitions for section elements to have smooth background-color and color changes */
section {
  transition: background-color .3s, color .3s;
}

/* Style for theme toggle container */
.theme-toggle {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s; /* Transition for smooth rotation */
}

/* Rotate the theme toggle container when in dark theme */
.theme-toggle.dark-theme {
  transform: rotate(180deg);
}

/* Style for theme toggle icon */
.theme-toggle i {
  font-size: 1.2rem;
  margin-left: 0.5rem;
}

/* theme.css: Contains global theme styles and variables */
:root {
  --main-color: #c0c0c0;
  --secondary-color: #242423;
  --text-color: #333;
  --background-color: #fff;
  --accent-color: #7c7c7c;
  --font-family-main: 'Roboto', sans-serif;
  --font-family-secondary: 'Montserrat', sans-serif;
}

/* Global body styles */
body {
  font-family: var(--font-family-main);
  color: var(--text-color);
  background-color: var(--background-color);
}

/* Heading styles */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-secondary);
}

/* Anchor tag styles */
a {
  color: var(--main-color);
  text-decoration: none;
}

/* Anchor tag hover styles */
a:hover {
  color: var(--accent-color);
}

/* Light theme styles */
.light-theme {
  --text-color: #333;
  --background-color: #fff;
}

/* Dark theme styles */
.dark-theme {
  --text-color: #ccc;
  --background-color: #242423;
}
