/* Style for timeline container */
.timeline {
  padding: 2rem;
  text-align: center;
}

/* Style for timeline header */
.timeline h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #333;
}

/* Style for timeline list */
.timeline ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

/* Style for timeline list items */
.timeline li {
  background-color: #f8f8f8;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
  width: calc(33% - 1rem);
  margin-bottom: 1rem;
}

/* Dark theme styles for timeline list items */
.dark-theme .timeline li {
  background-color: #666;
  color: #f1f1f1;
}

/* Style for timeline list item header */
.timeline li h2 {
  font-size: 1.5rem;
  margin-bottom: .5rem;
  color: #333;
}

/* Dark theme styles for timeline list item header */
.dark-theme .timeline li h2 {
  color: #f1f1f1;
}

/* Style for timeline list item paragraph */
.timeline li p {
  font-size: 1rem;
  color: #666;
}

/* Dark theme styles for timeline list item paragraph */
.dark-theme .timeline li p {
  color: #f1f1f1;
}
